<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{admin/fragments/layout :: layout (~{::content}, 'TIU TURKUNIB :: Create Banner', 'banner', ~{})}">
<head>
    <meta charset="UTF-8">
    <title>TIU TURKUNIB - Create Banner</title>
</head>
<body>
<div th:fragment="content">
    <h1 class="h3 mb-4 text-gray-800 ">Create Banner</h1>

    <form th:object="${banner}" th:action="@{/admin/banner/create}" method="post" enctype="multipart/form-data">

        <th:block th:replace="~{admin/fragments/message :: message-with-validation(${error}, ${success})}"></th:block>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Form to Create a Banner</h6>
            </div>
            <div class="card-body">

                <th:block th:replace="~{admin/fragments/language-tab :: language-tabs}"></th:block>

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="lang-en" role="tabpanel" aria-labelledby="lang-en-tab">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="titleEn">Title <span class="text-danger">*</span></label>
                                <input id="titleEn" th:field="*{translations['EN']?.title}" type="text"
                                       class="form-control"
                                       th:classappend="${#fields.hasErrors('translations[EN].title')} ? 'is-invalid' : ''"
                                       aria-describedby="titleHelpEn">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('translations[EN].title')}" th:errors="*{translations['EN'].title}"></div>
                                <small id="titleHelpEn" class="form-text text-muted">
                                    Main public name of the banner.
                                </small>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="shortTitleEn">Short Title <span class="text-danger">*</span></label>
                                <input id="shortTitleEn" th:field="*{translations['EN']?.shortTitle}" type="text"
                                       class="form-control"
                                       th:classappend="${#fields.hasErrors('translations[EN].shortTitle')} ? 'is-invalid' : ''"
                                       aria-describedby="shortTitleHelpEn">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('translations[EN].shortTitle')}" th:errors="*{translations['EN'].shortTitle}"></div>
                                <small id="shortTitleHelpEn" class="form-text text-muted">
                                    A brief version of the title for compact displays under the button.
                                </small>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="descriptionEn" class="text-dark">Description</label>
                                <input id="descriptionEn" th:field="*{translations['EN']?.description}" type="text"
                                       class="form-control"
                                       th:classappend="${#fields.hasErrors('translations[EN].description')} ? 'is-invalid' : ''"
                                       aria-describedby="descriptionHelpEn">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('translations[EN].description')}" th:errors="*{translations['EN'].description}"></div>
                                <small id="descriptionHelpEn" class="form-text text-muted">
                                    A brief banner's description.
                                </small>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="urlTitleEn" class="text-dark">URL Title</label>
                                <input type="text" class="form-control" id="urlTitleEn" th:field="*{translations['EN']?.urlTitle}"
                                       th:classappend="${#fields.hasErrors('translations[EN].urlTitle')} ? 'is-invalid' : ''"
                                       aria-describedby="urlTitleHelpEn">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('translations[EN].urlTitle')}" th:errors="*{translations['EN'].urlTitle}"></div>
                                <small id="urlTitleHelpEn" class="form-text text-muted">
                                    The text displayed on the banner link.
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="lang-kg" role="tabpanel" aria-labelledby="lang-kg-tab">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="titleKg">Title <span class="text-danger">*</span></label>
                                <input id="titleKg" th:field="*{translations['KG']?.title}" type="text"
                                       class="form-control"
                                       th:classappend="${#fields.hasErrors('translations[KG].title')} ? 'is-invalid' : ''"
                                       aria-describedby="titleHelpKg">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('translations[KG].title')}" th:errors="*{translations['KG'].title}"></div>
                                <small id="titleHelpKg" class="form-text text-muted">
                                    Main public name of the banner.
                                </small>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="shortTitleKg">Short Title <span class="text-danger">*</span></label>
                                <input id="shortTitleKg" th:field="*{translations['KG']?.shortTitle}" type="text"
                                       class="form-control"
                                       th:classappend="${#fields.hasErrors('translations[KG].shortTitle')} ? 'is-invalid' : ''"
                                       aria-describedby="shortTitleHelpKg">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('translations[KG].shortTitle')}" th:errors="*{translations['KG'].shortTitle}"></div>
                                <small id="shortTitleHelpKg" class="form-text text-muted">
                                    A brief version of the title for compact displays under the button.
                                </small>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="descriptionKg" class="text-dark">Description</label>
                                <input id="descriptionKg" th:field="*{translations['KG']?.description}" type="text"
                                       class="form-control"
                                       th:classappend="${#fields.hasErrors('translations[KG].description')} ? 'is-invalid' : ''"
                                       aria-describedby="descriptionHelpKg">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('translations[KG].description')}" th:errors="*{translations['KG'].description}"></div>
                                <small id="descriptionHelpKg" class="form-text text-muted">
                                    A brief banner's description.
                                </small>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="urlTitleKg" class="text-dark">URL Title</label>
                                <input type="text" class="form-control" id="urlTitleKg" th:field="*{translations['KG']?.urlTitle}"
                                       th:classappend="${#fields.hasErrors('translations[KG].urlTitle')} ? 'is-invalid' : ''"
                                       aria-describedby="urlTitleHelpKg">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('translations[KG].urlTitle')}" th:errors="*{translations['KG'].urlTitle}"></div>
                                <small id="urlTitleHelpKg" class="form-text text-muted">
                                    The text displayed on the banner link.
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="lang-kz" role="tabpanel" aria-labelledby="lang-kz-tab">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="titleKz">Title <span class="text-danger">*</span></label>
                                <input id="titleKz" th:field="*{translations['KZ']?.title}" type="text"
                                       class="form-control"
                                       th:classappend="${#fields.hasErrors('translations[KZ].title')} ? 'is-invalid' : ''"
                                       aria-describedby="titleHelpKz">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('translations[KZ].title')}" th:errors="*{translations['KZ'].title}"></div>
                                <small id="titleHelpKz" class="form-text text-muted">
                                    Main public name of the banner.
                                </small>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="shortTitleKz">Short Title <span class="text-danger">*</span></label>
                                <input id="shortTitleKz" th:field="*{translations['KZ']?.shortTitle}" type="text"
                                       class="form-control"
                                       th:classappend="${#fields.hasErrors('translations[KZ].shortTitle')} ? 'is-invalid' : ''"
                                       aria-describedby="shortTitleHelpKz">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('translations[KZ].shortTitle')}" th:errors="*{translations['KZ'].shortTitle}"></div>
                                <small id="shortTitleHelpKz" class="form-text text-muted">
                                    A brief version of the title for compact displays under the button.
                                </small>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="descriptionKz" class="text-dark">Description</label>
                                <input id="descriptionKz" th:field="*{translations['KZ']?.description}" type="text"
                                       class="form-control"
                                       th:classappend="${#fields.hasErrors('translations[KZ].description')} ? 'is-invalid' : ''"
                                       aria-describedby="descriptionHelpKz">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('translations[KZ].description')}" th:errors="*{translations['KZ'].description}"></div>
                                <small id="descriptionHelpKz" class="form-text text-muted">
                                    A brief banner's description.
                                </small>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="urlTitleKz" class="text-dark">URL Title</label>
                                <input type="text" class="form-control" id="urlTitleKz" th:field="*{translations['KZ']?.urlTitle}"
                                       th:classappend="${#fields.hasErrors('translations[KZ].urlTitle')} ? 'is-invalid' : ''"
                                       aria-describedby="urlTitleHelpKz">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('translations[KZ].urlTitle')}" th:errors="*{translations['KZ'].urlTitle}"></div>
                                <small id="urlTitleHelpKz" class="form-text text-muted">
                                    The text displayed on the banner link.
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="lang-tr" role="tabpanel" aria-labelledby="lang-tr-tab">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="titleTr">Title <span class="text-danger">*</span></label>
                                <input id="titleTr" th:field="*{translations['TR']?.title}" type="text"
                                       class="form-control"
                                       th:classappend="${#fields.hasErrors('translations[TR].title')} ? 'is-invalid' : ''"
                                       aria-describedby="titleHelpTr">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('translations[TR].title')}" th:errors="*{translations['TR'].title}"></div>
                                <small id="titleHelpTr" class="form-text text-muted">
                                    Main public name of the banner.
                                </small>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="shortTitleTr">Short Title <span class="text-danger">*</span></label>
                                <input id="shortTitleTr" th:field="*{translations['TR']?.shortTitle}" type="text"
                                       class="form-control"
                                       th:classappend="${#fields.hasErrors('translations[TR].shortTitle')} ? 'is-invalid' : ''"
                                       aria-describedby="shortTitleHelpTr">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('translations[TR].shortTitle')}" th:errors="*{translations['TR'].shortTitle}"></div>
                                <small id="shortTitleHelpTr" class="form-text text-muted">
                                    A brief version of the title for compact displays under the button.
                                </small>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="descriptionTr" class="text-dark">Description</label>
                                <input id="descriptionTr" th:field="*{translations['TR']?.description}" type="text"
                                       class="form-control"
                                       th:classappend="${#fields.hasErrors('translations[TR].description')} ? 'is-invalid' : ''"
                                       aria-describedby="descriptionHelpTr">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('translations[TR].description')}" th:errors="*{translations['TR'].description}"></div>
                                <small id="descriptionHelpTr" class="form-text text-muted">
                                    A brief banner's description.
                                </small>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="urlTitleTr" class="text-dark">URL Title</label>
                                <input type="text" class="form-control" id="urlTitleTr" th:field="*{translations['TR']?.urlTitle}"
                                       th:classappend="${#fields.hasErrors('translations[TR].urlTitle')} ? 'is-invalid' : ''"
                                       aria-describedby="urlTitleHelpTr">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('translations[TR].urlTitle')}" th:errors="*{translations['TR'].urlTitle}"></div>
                                <small id="urlTitleHelpTr" class="form-text text-muted">
                                    The text displayed on the banner link.
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="lang-uz" role="tabpanel" aria-labelledby="lang-uz-tab">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="titleUz">Title <span class="text-danger">*</span></label>
                                <input id="titleUz" th:field="*{translations['UZ']?.title}" type="text"
                                       class="form-control"
                                       th:classappend="${#fields.hasErrors('translations[UZ].title')} ? 'is-invalid' : ''"
                                       aria-describedby="titleHelpUz">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('translations[UZ].title')}" th:errors="*{translations['UZ'].title}"></div>
                                <small id="titleHelpUz" class="form-text text-muted">
                                    Main public name of the banner.
                                </small>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="shortTitleUz">Short Title <span class="text-danger">*</span></label>
                                <input id="shortTitleUz" th:field="*{translations['UZ']?.shortTitle}" type="text"
                                       class="form-control"
                                       th:classappend="${#fields.hasErrors('translations[UZ].shortTitle')} ? 'is-invalid' : ''"
                                       aria-describedby="shortTitleHelpUz">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('translations[UZ].shortTitle')}" th:errors="*{translations['UZ'].shortTitle}"></div>
                                <small id="shortTitleHelpUz" class="form-text text-muted">
                                    A brief version of the title for compact displays under the button.
                                </small>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="descriptionUz" class="text-dark">Description</label>
                                <input id="descriptionUz" th:field="*{translations['UZ']?.description}" type="text"
                                       class="form-control"
                                       th:classappend="${#fields.hasErrors('translations[UZ].description')} ? 'is-invalid' : ''"
                                       aria-describedby="descriptionHelpUz">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('translations[UZ].description')}" th:errors="*{translations['UZ'].description}"></div>
                                <small id="descriptionHelpUz" class="form-text text-muted">
                                    A brief banner's description.
                                </small>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="urlTitleUz" class="text-dark">URL Title</label>
                                <input type="text" class="form-control" id="urlTitleUz" th:field="*{translations['UZ']?.urlTitle}"
                                       th:classappend="${#fields.hasErrors('translations[UZ].urlTitle')} ? 'is-invalid' : ''"
                                       aria-describedby="urlTitleHelpUz">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('translations[UZ].urlTitle')}" th:errors="*{translations['UZ'].urlTitle}"></div>
                                <small id="urlTitleHelpUz" class="form-text text-muted">
                                    The text displayed on the banner link.
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="lang-hg" role="tabpanel" aria-labelledby="lang-hg-tab">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="titleHg">Title <span class="text-danger">*</span></label>
                                <input id="titleHg" th:field="*{translations['HG']?.title}" type="text"
                                       class="form-control"
                                       th:classappend="${#fields.hasErrors('translations[HG].title')} ? 'is-invalid' : ''"
                                       aria-describedby="titleHelpHg">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('translations[HG].title')}" th:errors="*{translations['HG'].title}"></div>
                                <small id="titleHelpHg" class="form-text text-muted">
                                    Main public name of the banner.
                                </small>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="shortTitleHg">Short Title <span class="text-danger">*</span></label>
                                <input id="shortTitleHg" th:field="*{translations['HG']?.shortTitle}" type="text"
                                       class="form-control"
                                       th:classappend="${#fields.hasErrors('translations[HG].shortTitle')} ? 'is-invalid' : ''"
                                       aria-describedby="shortTitleHelpHg">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('translations[HG].shortTitle')}" th:errors="*{translations['HG'].shortTitle}"></div>
                                <small id="shortTitleHelpHg" class="form-text text-muted">
                                    A brief version of the title for compact displays under the button.
                                </small>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="descriptionHg" class="text-dark">Description</label>
                                <input id="descriptionHg" th:field="*{translations['HG']?.description}" type="text"
                                       class="form-control"
                                       th:classappend="${#fields.hasErrors('translations[HG].description')} ? 'is-invalid' : ''"
                                       aria-describedby="descriptionHelpHg">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('translations[HG].description')}" th:errors="*{translations['HG'].description}"></div>
                                <small id="descriptionHelpHg" class="form-text text-muted">
                                    A brief banner's description.
                                </small>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="urlTitleHg" class="text-dark">URL Title</label>
                                <input type="text" class="form-control" id="urlTitleHg" th:field="*{translations['HG']?.urlTitle}"
                                       th:classappend="${#fields.hasErrors('translations[HG].urlTitle')} ? 'is-invalid' : ''"
                                       aria-describedby="urlTitleHelpHg">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('translations[HG].urlTitle')}" th:errors="*{translations['HG'].urlTitle}"></div>
                                <small id="urlTitleHelpHg" class="form-text text-muted">
                                    The text displayed on the banner link.
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="lang-az" role="tabpanel" aria-labelledby="lang-az-tab">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="titleAz">Title <span class="text-danger">*</span></label>
                                <input id="titleAz" th:field="*{translations['AZ']?.title}" type="text"
                                       class="form-control"
                                       th:classappend="${#fields.hasErrors('translations[AZ].title')} ? 'is-invalid' : ''"
                                       aria-describedby="titleHelpAz">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('translations[AZ].title')}" th:errors="*{translations['AZ'].title}"></div>
                                <small id="titleHelpAz" class="form-text text-muted">
                                    Main public name of the banner.
                                </small>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="shortTitleAz">Short Title <span class="text-danger">*</span></label>
                                <input id="shortTitleAz" th:field="*{translations['AZ']?.shortTitle}" type="text"
                                       class="form-control"
                                       th:classappend="${#fields.hasErrors('translations[AZ].shortTitle')} ? 'is-invalid' : ''"
                                       aria-describedby="shortTitleHelpAz">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('translations[AZ].shortTitle')}" th:errors="*{translations['AZ'].shortTitle}"></div>
                                <small id="shortTitleHelpAz" class="form-text text-muted">
                                    A brief version of the title for compact displays under the button.
                                </small>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="descriptionAz" class="text-dark">Description</label>
                                <input id="descriptionAz" th:field="*{translations['AZ']?.description}" type="text"
                                       class="form-control"
                                       th:classappend="${#fields.hasErrors('translations[AZ].description')} ? 'is-invalid' : ''"
                                       aria-describedby="descriptionHelpAz">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('translations[AZ].description')}" th:errors="*{translations['AZ'].description}"></div>
                                <small id="descriptionHelpAz" class="form-text text-muted">
                                    A brief banner's description.
                                </small>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="urlTitleAz" class="text-dark">URL Title</label>
                                <input type="text" class="form-control" id="urlTitleAz" th:field="*{translations['AZ']?.urlTitle}"
                                       th:classappend="${#fields.hasErrors('translations[AZ].urlTitle')} ? 'is-invalid' : ''"
                                       aria-describedby="urlTitleHelpAz">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('translations[AZ].urlTitle')}" th:errors="*{translations['AZ'].urlTitle}"></div>
                                <small id="urlTitleHelpAz" class="form-text text-muted">
                                    The text displayed on the banner link.
                                </small>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="url" class="text-dark">Banner URL</label>
                        <input type="text" class="form-control" id="url" th:field="*{url}"
                               th:classappend="${#fields.hasErrors('url')} ? 'is-invalid' : ''"
                               aria-describedby="urlHelp">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></div>
                        <small id="urlHelp" class="form-text text-muted">
                            The link to which the banner will redirect when clicked.
                        </small>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="position" class="text-dark">Banner Position</label>
                        <input type="number" class="form-control" id="position" th:field="*{position}"
                               th:classappend="${#fields.hasErrors('position')} ? 'is-invalid' : ''"
                               aria-describedby="positionHelp">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('position')}"
                             th:errors="*{position}"></div>
                        <small id="positionHelp" class="form-text text-muted">
                            Determines the order of the banner in a sequence (e.g., 1 for first, 2 for second).
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="attachFileInput" class="text-dark">Banner Image<span
                            class="text-danger">*</span></label>
                    <input type="file" class="form-control col-6" id="attachFileInput" name="file"
                           aria-describedby="imageHelp">
                    <small id="imageHelp" class="form-text text-muted">
                        Banner image file to be uploaded.
                    </small>
                </div>

                <div class="form-row">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" th:field="*{enabled}" class="custom-control-input" id="enabledHelp">
                        <label class="custom-control-label" for="enabledHelp">
                            Published <span class="text-danger">*</span>
                        </label>
                    </div>
                </div>

                <hr/>
                <div class="actions-bar p-3 d-flex justify-content-between">
                    <a th:href="@{/admin/banner/}"
                       class="btn btn-outline-secondary border-secondary shadow-sm">Cancel</a>
                    <div>
                        <button type="submit" class="btn btn-success border-success shadow-sm">Create Banner</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>