<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{admin/fragments/layout :: layout (~{::content}, 'TIU TURKUNIB :: Show Static Page', 'static-page', ~{})}">
<head>
    <meta charset="UTF-8">
    <title>TIU TURKUNIB - Static Page</title>
</head>
<body>
<div th:fragment="content" th:object="${staticPage}">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h3 text-gray-800 mb-0">Static Page Details</h1>
        <div class="btn-group">
            <a th:href="@{/admin/static-pages/edit/{id}(id=*{id})}" class="btn btn-primary btn-sm border-primary shadow-sm mr-2"><i class="fas fa-edit"></i>
                Edit</a>
            <a th:href="@{'/admin/static-pages/translate/' + ${staticPage.id}}"
               class="btn btn-warning btn-sm border-warning text-black-100 font-weight-bold shadow-sm mr-2">
                <i class="fas fa-language pr-2"></i>Translate with AI
            </a>
            <a th:href="@{'/admin/translation-tasks/show/static_page/' + ${staticPage.id}}" class="btn btn-info btn-sm border-info shadow-sm">
                <i class="fas fa-language"></i> Translation logs
            </a>
        </div>
    </div>

    <th:block th:replace="~{admin/fragments/message :: message(${error}, ${success})}"></th:block>

    <div class="row">
        <!-- Left column: General info -->
        <div class="col-lg-12 mb-4">
            <div class="card shadow h-100">
                <div class="card-header py-3 d-flex align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">General Information</h6>
                    <span class="small badge badge-info">ID: <span th:text="*{id}">—</span></span>
                </div>
                <div class="card-body">
                    <nav class="inline-tabs">
                        <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                            <a th:if="${staticPage.translations.containsKey('EN')}" class="nav-item nav-link active" id="lang-EN-tab" data-toggle="tab" href="#lang-EN"
                               role="tab" aria-controls="lang-EN" aria-selected="true">EN</a>
                            <a th:if="${staticPage.translations.containsKey('KG')}" class="nav-item nav-link" id="lang-KG-tab" data-toggle="tab" href="#lang-KG"
                               role="tab" aria-controls="lang-KG" aria-selected="false">KG</a>
                            <a th:if="${staticPage.translations.containsKey('KZ')}" class="nav-item nav-link" id="lang-KZ-tab" data-toggle="tab" href="#lang-KZ"
                               role="tab" aria-controls="lang-KZ" aria-selected="false">KZ</a>
                            <a th:if="${staticPage.translations.containsKey('TR')}" class="nav-item nav-link" id="lang-TR-tab" data-toggle="tab" href="#lang-TR"
                               role="tab" aria-controls="lang-TR" aria-selected="false">TR</a>
                            <a th:if="${staticPage.translations.containsKey('UZ')}" class="nav-item nav-link" id="lang-UZ-tab" data-toggle="tab" href="#lang-UZ"
                               role="tab" aria-controls="lang-UZ" aria-selected="false">UZ</a>
                            <a th:if="${staticPage.translations.containsKey('HG')}" class="nav-item nav-link" id="lang-HG-tab" data-toggle="tab" href="#lang-HG"
                               role="tab" aria-controls="lang-HG" aria-selected="false">HG</a>
                            <a th:if="${staticPage.translations.containsKey('AZ')}" class="nav-item nav-link" id="lang-AZ-tab" data-toggle="tab" href="#lang-AZ"
                               role="tab" aria-controls="lang-AZ" aria-selected="false">AZ</a>
                        </div>
                    </nav>

                    <div class="tab-content" id="nav-tabContent">
                        <div th:each="e, iter : ${staticPage.translations.entrySet()}" class="tab-pane fade"
                             th:classappend="${e.key == 'EN'} ? ' show active' : ''"
                             th:id="${'lang-' + e.key}" role="tabpanel"
                             th:aria-labelledby="${'lang-' + e.key + '-tab'}">

                            <ul class="list-unstyled show-info-list">
                                <li class="border-bottom-dotted">
                                    <span class="badge badge-light-blue d-flex justify-content-between align-items-center">
                                        <span>Title:</span>
                                        <span class="ml-3 text-truncate" th:text="${e.value.title}"></span>
                                    </span>
                                </li>
                                <li class="border-bottom-dotted">
                                    <span class="badge badge-light-blue d-flex justify-content-between align-items-center">
                                        <span>Slug:</span>
                                        <span class="ml-3 text-truncate" th:text="${staticPage.slug}"></span>
                                    </span>
                                </li>
                                <li class="border-bottom-dotted">
                                    <span class="badge badge-light-blue d-flex justify-content-between align-items-center">
                                        <span>Created:</span>
                                        <span th:text="${#temporals.format(staticPage.createdAt, 'dd MMM yyyy HH:mm')}"></span>
                                    </span>
                                </li>
                                <li class="border-bottom-dotted">
                                    <span class="badge badge-light-blue d-flex justify-content-between align-items-center">
                                        <span>Updated:</span>
                                        <span th:text="${#temporals.format(staticPage.updatedAt, 'dd MMM yyyy HH:mm')}"></span>
                                    </span>
                                </li>
                                <li class="border-bottom-dotted">
                                    <span class="badge badge-light-blue d-flex justify-content-between align-items-center">
                                        <span>Published:</span>
                                        <span th:if="${staticPage.enabled}" class="text-success font-weight-bold">Yes</span>
                                        <span th:if="${!staticPage.enabled}" class="text-danger font-weight-bold">No</span>
                                    </span>
                                </li>
                                <li class="border-bottom-dotted">
                                    <span class="badge badge-light-blue d-flex justify-content-between align-items-center">
                                        <span>Author:</span>
                                        <span th:if="${staticPage.author}" th:text="${staticPage.author.fullName}"></span>
                                    </span>
                                </li>
                            </ul>
                            <h6 class="font-weight-bold text-secondary">Content</h6>
                            <div class="border rounded p-3 bg-white small" th:utext="${e.value.content}">—</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bottom action bar -->
    <div class="card shadow mb-4">
        <div class="card-body d-flex flex-wrap justify-content-between align-items-center">
            <a th:href="@{/admin/static-pages/}" class="btn btn-outline-secondary border-secondary shadow-sm">Back to list</a>
        </div>
    </div>
</div>
</body>
</html>
