<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{web/fragments/layout :: layout (~{::content}, 'TIU TURKUNIB :: Upcoming Events', 'events', ~{})}">
<head>
    <meta charset="UTF-8">
    <title>TIU TURKUNIB - Latest News</title>
</head>
<body>
<div th:fragment="content">

    <th:block th:replace="~{web/fragments/hero-banner :: hero-banner(${banners})}"></th:block>

    <!-- Events -->
    <section class="events-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col">
                    <h2 class="h2-bigger" th:text="#{main.events.title}">Upcoming Events</h2>
                </div>
            </div>
            <div class="row">
                <div th:each="event: ${events.content}" class="col-12 col-md-6 col-xl-4 mb-5">
                    <a th:href="@{'/' + ${lang} + '/events/' + ${event.id()} + '/' + ${event.slug()}}" class="card-link">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body d-flex flex-column">
                                <div class="d-flex align-items-start justify-content-between mb-2">
                                    <h2 th:text="${event.title()}" class="h5 me-2"></h2>
                                    <span th:text="${event.format}" class="badge text-bg-info text-white text-wrap">online</span>
                                </div>
                                <div class="event-meta mb-2 text-muted"><span th:text="${#temporals.format(event.startAt, 'dd MMM. yyyy, HH:mm')}"></span> — <span th:text="${#temporals.format(event.endAt, 'dd MMM. yyyy, HH:mm')}"></span>
                                </div>
                                <div class="mb-2"><strong th:text="#{main.events.place}">Place:</strong> <span th:text="${event.placeName}">-</span></div>
                                <div class="mb-2"><strong th:text="#{main.events.organizer}">Organizer:</strong> <span th:text="${event.organizer}">-</span></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row my-3">
                <div class="col d-flex justify-content-end align-items-center">
                    <th:block th:replace="~{web/fragments/pagination :: pagination-web(${events}, ${'/' + lang + '/events/'})}"></th:block>
                </div>
            </div>
        </div>
    </section>

    <th:block th:replace="~{web/fragments/student-testimonials :: student-testimonials('margin-top-95')}"></th:block>

</div>

</body>
</html>