<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Language Component</title>
</head>
<body>

<nav class="inline-tabs" th:fragment="language-tabs">
    <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="lang-en-tab" data-toggle="tab" href="#lang-en"
           role="tab" aria-controls="lang-en" aria-selected="true">EN</a>
        <a class="nav-item nav-link" id="lang-kg-tab" data-toggle="tab" href="#lang-kg"
           role="tab" aria-controls="lang-kg" aria-selected="false">KG</a>
        <a class="nav-item nav-link" id="lang-kz-tab" data-toggle="tab" href="#lang-kz"
           role="tab" aria-controls="lang-kz" aria-selected="false">KZ</a>
        <a class="nav-item nav-link" id="lang-tr-tab" data-toggle="tab" href="#lang-tr"
           role="tab" aria-controls="lang-tr" aria-selected="false">TR</a>
        <a class="nav-item nav-link" id="lang-uz-tab" data-toggle="tab" href="#lang-uz"
           role="tab" aria-controls="lang-uz" aria-selected="false">UZ</a>
        <a class="nav-item nav-link" id="lang-hg-tab" data-toggle="tab" href="#lang-hg"
           role="tab" aria-controls="lang-hg" aria-selected="false">HG</a>
        <a class="nav-item nav-link" id="lang-az-tab" data-toggle="tab" href="#lang-az"
           role="tab" aria-controls="lang-az" aria-selected="false">AZ</a>
    </div>
</nav>

</body>
</html>