<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{web/fragments/layout :: layout (~{::content}, ${(staticPage != null and staticPage.title() != null) ? staticPage.title() + ' :: TURKUNIB' : 'TURKUNIB'}, 'staticpage', ~{})}">
<head>
    <meta charset="UTF-8">
    <title>TIU TURKUNIB - Static Page</title>
</head>
<body>
<div th:fragment="content">

    <th:block th:replace="~{web/fragments/hero-banner :: hero-banner(${banners})}"></th:block>

    <!-- Static page content -->
    <section class="static-page-content container my-5">
        <div class="row">
            <div th:utext="${staticPage.content()}" class="col">
            </div>
        </div>
    </section>

    <th:block th:replace="~{web/fragments/student-testimonials :: student-testimonials('margin-top-95')}"></th:block>

</div>

</body>
</html>